Repository Ukawamochi/RAIDHack: changes, and which lint-staged commands are due for each by the changed paths.
All: cd web && npm run lint, cd api && npx tsc --noEmit --skipLibCheck

.lintstagedrc.json:

{
  "web/**/*.{js,jsx,ts,tsx}": [
    "cd web && npm run lint"
  ],
  "api/**/*.{js,ts}": [
    "cd api && npx tsc --noEmit --skipLibCheck"
  ]
}

古いAPIが残っていたので削除しました
  .github/workflows/deploy-prod.yml
  api/src/index.ts
  web/src/features/test-api/components/ApiTester.tsx
Due: cd web && npm run lint, cd api && npx tsc --noEmit --skipLibCheck

え
  api/src/index.ts
Due: cd api && npx tsc --noEmit --skipLibCheck

deploy.ymlの削除
  .github/workflows/deploy.yml
Due: none

fix: フロントをロールバック&最低限のapi修正
  api/src/routes/index.ts
  web/src/App.js
  web/src/App.tsx
  web/src/components/Navbar.css
  web/src/components/Navbar.tsx
  web/src/components/ProtectedRoute.tsx
  web/src/components/common/.gitkeep
  web/src/components/ui/.gitkeep
  web/src/contexts/AuthContext.tsx
  web/src/features/test-api/components/ApiTester.tsx
  web/src/hooks/.gitkeep
  web/src/hooks/useAuth.ts
  web/src/index.js
  web/src/pages/AdminDashboard.tsx
  web/src/pages/ApplicationsPage.css
  web/src/pages/ApplicationsPage.tsx
  web/src/pages/AuthPages.css
  web/src/pages/CreateIdeaPage.css
  web/src/pages/CreateIdeaPage.tsx
  web/src/pages/CreateIdeaPage_fixed.tsx
  web/src/pages/DiscordPage.css
  web/src/pages/DiscordPage.tsx
  web/src/pages/HomePage.css
  web/src/pages/HomePage.tsx
  web/src/pages/IdeaDetailPage.css
  web/src/pages/IdeaDetailPage.tsx
  web/src/pages/LoginPage.tsx
  web/src/pages/NotificationsPage.tsx
  web/src/pages/ProfilePage.css
  web/src/pages/ProfilePage.tsx
  web/src/pages/RegisterPage.tsx
  web/src/pages/TeamsPage.css
  web/src/pages/TeamsPage.tsx
  web/src/pages/TopPage.css
  web/src/pages/TopPage.tsx
  web/src/pages/WorkSubmitPage.css
  web/src/pages/WorkSubmitPage.tsx
  web/src/pages/WorksPage.css
  web/src/pages/WorksPage.tsx
Due: cd web && npm run lint, cd api && npx tsc --noEmit --skipLibCheck

SQL文をDBに適合するようにしました
  .github/workflows/deploy-prod.yml
  api-docs.md
  api/src/routes/admin.ts
  api/src/routes/applications.ts
  api/src/routes/ideas.ts
  api/src/routes/teams.ts
  api/src/routes/works.ts
  web/src/features/test-api/components/ApiTester.tsx
Due: cd web && npm run lint, cd api && npx tsc --noEmit --skipLibCheck

fix: CORSにPR環境を追加
  .github/workflows/deploy-pr.yml
  api/src/middleware/cors.ts
Due: cd api && npx tsc --noEmit --skipLibCheck

fix: CORS設定を一元管理するためにミドルウェアを導入
  api/src/index.ts
  api/src/middleware/cors.ts
Due: cd api && npx tsc --noEmit --skipLibCheck

Create OpenAPI and fix SQL
  api/database/README.md
  api/database/add-demo-user.sql
  api/database/demo-users.sql
  api/database/schema.sql
  api/database/seed.sql
  api/src/routes/works.ts
  openapi.yaml
Due: cd api && npx tsc --noEmit --skipLibCheck

OpenAPIのチェックをしました。使わないDBを削除しました。
  api/database/add-missing-tables.sql
  api/database/cleanup-unused-tables.sql
  package-lock.json
  readme.md
Due: none

APIのWorkerも削除されるように修正しました。
  .github/workflows/cleanup-pr.yml
Due: none

feat: フロントエンド基本ルーティングとページ構造実装
  web/src/App.css
  web/src/App.tsx
  web/src/components/Header.tsx
  web/src/components/ProtectedRoute.tsx
  web/src/contexts/AuthContext.tsx
  web/src/contexts/AuthContextData.ts
  web/src/contexts/authTypes.ts
  web/src/features/test-api/components/ApiTester.tsx
  web/src/hooks/useAuth.ts
  web/src/pages/IndexPage.tsx
  web/src/pages/LoginPage.tsx
  web/src/pages/NewPostPage.tsx
  web/src/pages/NotFoundPage.tsx
  web/src/pages/ProjectPage.tsx
  web/src/pages/SettingsPage.tsx
  web/src/pages/UserPage.tsx
Due: cd web && npm run lint

fix: tsconfigの設定を修正し、Lintingオプションを無効化
  web/tsconfig.app.json
Due: none

レビュー指摘事項の修正
  web/src/App.tsx
  web/src/pages/ProjectPage.tsx
  web/src/pages/UserPage.tsx
Due: cd web && npm run lint

CICDのエラー文を完結にしました。分岐も最小限にしました
  .github/workflows/cleanup-pr.yml
Due: none

feat: ホームページをRAIDHack!仕様に変更
  web/src/pages/IndexPage.tsx
Due: cd web && npm run lint

Cleanupの実行順序を修正しました。MDが冗長なので全て削除しました
  .github/workflows/cleanup-pr.yml
  AI_RULES.md
  CLOUDFLARE_PAGES_SETUP.md
  LOCAL_SETUP.md
  SERVICE_BINDING_PLAN.md
  SYSTEM_COMPLETION.md
  api-docs.md
  api/DBsetting.md
  readme.md
Due: none

feat: ログインページとルートを追加
  web/src/App.tsx
  web/src/pages/LoginPage.tsx
Due: cd web && npm run lint

feat: 404ページとキャッチオールルートを追加
  web/src/App.tsx
  web/src/pages/NotFoundPage.tsx
Due: cd web && npm run lint

r
  .github/workflows/cleanup-pr.yml
Due: none

PR削除のときに削除されるWorkerの番号がずれる問題を解決しました。
  .github/workflows/cleanup-pr.yml
Due: none

feat: 新規投稿ページを追加
  web/src/App.tsx
  web/src/pages/NewPostPage.tsx
Due: cd web && npm run lint

feat: 設定ページとルートを追加
  web/src/App.tsx
  web/src/pages/SettingsPage.tsx
Due: cd web && npm run lint

feat: ユーザーページとプロジェクトページを追加
  web/src/App.tsx
  web/src/pages/ProjectPage.tsx
  web/src/pages/UserPage.tsx
Due: cd web && npm run lint

feat: 認証保護ルート実装完了
  .lintstagedrc.json
  web/src/App.tsx
  web/src/components/PrivateRoute.tsx
  web/src/contexts/AuthContext.tsx
  web/src/pages/LoginPage.tsx
Due: cd web && npm run lint

feat: 認証状態に応じたナビゲーション表示制御
  web/src/App.tsx
  web/src/components/Navigation.tsx
Due: cd web && npm run lint

fix DB-schema
  api/database/add-missing-tables.sql
  api/database/add-notifications.sql
  api/database/cleanup-unused-tables.sql
  api/database/schema-updated.sql
  api/database/schema.sql
  api/package-lock.json
Due: none

feat: GitHub OAuth認証機能を追加し、ユーザー管理を強化
  api/src/routes/auth.ts
  api/src/types.ts
  web/src/App.tsx
  web/src/features/auth/components/AuthCallback.tsx
  web/src/features/auth/components/GitHubAuth.tsx
  web/src/features/auth/components/index.ts
  web/src/features/auth/contexts/AuthContext.tsx
  web/src/features/auth/contexts/index.ts
  web/src/features/auth/hooks/index.ts
  web/src/features/auth/hooks/useAuth.ts
  web/src/features/auth/index.ts
  web/src/features/test-api/components/ApiTester.tsx
  web/src/lib/api.ts
  web/src/lib/index.ts
  web/src/pages/AuthCallbackPage.tsx
  web/src/types/api.ts
Due: cd web && npm run lint, cd api && npx tsc --noEmit --skipLibCheck

style: ナビゲーションバーのレイアウトを調整
  web/src/App.tsx
Due: cd web && npm run lint

JWT authentication implementation with environment variables
  .github/workflows/deploy-prod.yml
  api/README.md
  api/package-lock.json
  api/package.json
  api/src/middleware/auth.ts
  api/src/routes/auth.ts
  api/src/routes/ideas.ts
  api/src/types.ts
  api/tsconfig.json
  api/worker-configuration.d.ts
  api/wrangler.toml
Due: cd api && npx tsc --noEmit --skipLibCheck

feat: GitHub OAuth認証機能の改善とユーザー管理の強化、不要なコードの削除
  .lintstagedrc.json
  api/src/routes/auth.ts
  web/src/App.tsx
  web/src/components/Navigation.tsx
  web/src/components/PrivateRoute.tsx
  web/src/contexts/AuthContext.tsx
  web/src/features/auth/components/AuthCallback.tsx
  web/src/features/auth/components/GitHubAuth.tsx
  web/src/generated/index.ts
  web/src/pages/LoginPage.tsx
  web/src/pages/NewPostPage.tsx
  web/src/pages/SettingsPage.tsx
Due: cd web && npm run lint, cd api && npx tsc --noEmit --skipLibCheck

feat: axiosを依存関係に追加
  web/package-lock.json
  web/package.json
Due: none

fix: 疲れた
  openapi.yaml
  package-lock.json
  package.json
  web/package.json
  web/src/generated/.openapi-generator/FILES
  web/src/generated/api.ts
  web/src/generated/docs/TeamDetailAllOfMembers.md
  web/src/generated/docs/User.md
  web/src/generated/index.ts
Due: cd web && npm run lint

feat: GitHub OAuthシークレットの設定をPRおよび本番環境に追加
  .github/workflows/deploy-pr.yml
  .github/workflows/deploy-prod.yml
Due: none

refactor: GitHub OAuthシークレットの設定をPR環境から削除し、ビルド設定を簡素化
  .github/workflows/deploy-pr.yml
Due: none

feat: teams API implementation and JWT configuration
  api/src/routes/ideas.ts
  api/src/routes/teams.ts
  api/wrangler.toml
Due: cd api && npx tsc --noEmit --skipLibCheck

fix: wrangler.toml production environment name configuration
  api/wrangler.toml
Due: none

fix: add .mcp.json to .gitignore
  .gitignore
Due: none

fix
  api/database/schema.sql
  api/src/routes/ideas.ts
  api/src/types.ts
  web/src/App.tsx
  web/src/components/Navigation.tsx
  web/src/components/StatusBadge.tsx
  web/src/pages/AdminPage.tsx
  web/src/pages/IdeaDetailPage.tsx
  web/src/pages/IndexPage.tsx
  web/src/types/api.ts
Due: cd web && npm run lint, cd api && npx tsc --noEmit --skipLibCheck

del: css削除
  web/src/App.css
  web/src/App.tsx
  web/src/index.css
  web/src/main.tsx
  web/src/pages/IndexPage.tsx
Due: cd web && npm run lint
